.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home-product {
  text-align: center;
  margin: 1rem;
  width: 250px;
}
.home-product > h3,
h5,
p {
  padding: 5px;
  margin-left: 10px;
}
.link {
  text-align: center;
  font-stretch: initial;
  text-decoration: none;
}
.link:hover {
  color: rgb(57, 8, 231);
}
.img {
  max-width: 200px;
  max-height: 200px;
}
#cart-btn {
  margin: 10px;
}
#head-text {
  cursor: pointer;
}
#head-text:hover {
  color: rgb(197, 197, 197);
}
